.logo[data-v-531726e8] {
  width: 42px;
  height: 42px;
  margin-right: 45px;

  a.router-link-exact-active.router-link-active::after {
    content: 'Drone CI';
    color: white;
    position: absolute;
    line-height: 42px;
    padding: 0 10px;
    font-size: 17px;
  }
  backg
}

