.repo-link .repo-item.build-no.active-yes .header .title {
  color: $primary;
}

.icon-repository[data-v-15005e8e] {
  color: $primary;
}

.avatar[data-v-82904366] {
  border-radius: 0;
  width: 42px;
  height: 42px;
  cursor: pointer;
  display: block;
}

.repo-item-label[data-v-721ceeeb] {
  background-color: rgba($primary, 0.07);
  color: $primary;
  padding: 0 4px;
  border-radius: 0;
}

.builds .build .repo-item .header .number,
.builds .build:hover .repo-item .header {
  color: $primary;
}
.link:focus:after,
.link:hover:after {
  background-color: rgba($primary,0.5);
}
nav a.manually-active[data-v-33be6708]:focus, nav a.manually-active[data-v-33be6708]:hover {
  color: $primary;
}
