/* @file
 * Color schema
 *
 */

$colors: ();

$webiteasy_orange: (
  'lighten-5': #FFEEE0,
  'lighten-4': #FFD5B3,
  'lighten-3': #FFB980,
  'lighten-2': #FF9D4D,
  'lighten-1': #FF8826,
  'base': #ff7300,
  'darken-1': #e06500,
  'darken-2': #c25700,
  'darken-3': #a34a00,
  'darken-4': #853c00,
  'accent-1': #fff,
  'accent-2': #FFF5F2,
  'accent-3': #FFCCBF,
  'accent-4': #FFB8A6
);
$webiteasy_orange_lighten_5: #FFEEE0;
$webiteasy_orange_lighten_4: #FFD5B3;
$webiteasy_orange_lighten_3: #FFB980;
$webiteasy_orange_lighten_2: #FF9D4D;
$webiteasy_orange_lighten_1: #FF8826;
$webiteasy_orange_base: #ff7300;
$webiteasy_orange_darken-_1: #e06500;
$webiteasy_orange_darken-_2: #c25700;
$webiteasy_orange_darken-_3: #a34a00;
$webiteasy_orange_darken-_4: #853c00;
$webiteasy_orange_accent-_1: #fff;
$webiteasy_orange_accent-_2: #FFF5F2;
$webiteasy_orange_accent-_3: #FFCCBF;
$webiteasy_orange_accent-_4: #FFB8A6;


$webiteasy_red: (
  'lighten-5': #F5E0E6,
  'lighten-4': #e5b3c0,
  'lighten-3': #d48096,
  'lighten-2': #c34d6b,
  'lighten-1': #b6264c,
  'base': #a9002c,
  'darken-1': #a20027,
  'darken-2': #980021,
  'darken-3': #8f001b,
  'darken-4': #7e0010,
  'accent-1': #ffacb1,
  'accent-2': #ff7981,
  'accent-3': #ff4651,
  'accent-4': #ff2c39,
);


$webiteasy_dark: (
  'lighten-5': #e7e7e7,
  'lighten-4': #c2c2c2,
  'lighten-3': #999,
  'lighten-2': #707070,
  'lighten-1': #525252,
  'base': #333,
  'darken-1': #2e2e2e,
  'darken-2': #272727,
  'darken-3': #202020,
  'darken-4': #141414,
  'accent-1': #ef6e6e,
  'accent-2': #ea4040,
  'accent-3': #f60000,
  'accent-4': #d00
);
$webiteasy_light: (
  'lighten-5': #f6f7f8,
  'lighten-4': #e9eced,
  'lighten-3': #dadfe1,
  'lighten-2': #cbd2d4,
  'lighten-1': #bfc8cb,
  'base': #b4bec2,
  'darken-1': #adb8bc,
  'darken-2': #a4afb4,
  'darken-3': #9ca7ac,
  'darken-4': #8c999f,
  'accent-1': #fff,
  'accent-2': #fff,
  'accent-3': #cff1ff,
  'accent-4': #b6e9ff
);

$greencko_teal: (
  'lighten-5': #e0f4f1,
  'lighten-4': #b3e4dc,
  'lighten-3': #80d2c4,
  'lighten-2': #4dbfac,
  'lighten-1': #26b29b,
  'base': #00a489,
  'darken-1': #009c81,
  'darken-2': #009276,
  'darken-3': #00896c,
  'darken-4': #007859,
  'accent-1': #a6ffe4,
  'accent-2': #73ffd4,
  'accent-3': #40ffc5,
  'accent-4': #26ffbd,
);
$greencko_green: (
  'lighten-5': #edf4e8,
  'lighten-4': #d3e5c6,
  'lighten-3': #b6d3a0,
  'lighten-2': #99c17a,
  'lighten-1': #83b45e,
  'base': #6da741,
  'darken-1': #659f3b,
  'darken-2': #5a9632,
  'darken-3': #508c2a,
  'darken-4': #3e7c1c,
  'accent-1': #b3e4dc,
  'accent-2': #4dbfac,
  'accent-3': #00a489,
  'accent-4': #007859,
);
$greencko_blue: (
  'lighten-5': #e4f4fb,
  'lighten-4': #bce4f5,
  'lighten-3': #90d2ef,
  'lighten-2': #64bfe9,
  'lighten-1': #42b2e4,
  'base': #21a4df,
  'darken-1': #1d9cdb,
  'darken-2': #1892d7,
  'darken-3': #1489d2,
  'darken-4': #0b78ca,
  'accent-1': #f6fbff,
  'accent-2': #c3e3ff,
  'accent-3': #90cbff,
  'accent-4': #76beff,
);
$greencko_green: (
  'lighten-5': #e4f4fb,
  'lighten-4': #bce4f5,
  'lighten-3': #90d2ef,
  'lighten-2': #64bfe9,
  'lighten-1': #42b2e4,
  'base': #21a4df,
  'darken-1': #1d9cdb,
  'darken-2': #1892d7,
  'darken-3': #1489d2,
  'darken-4': #0b78ca,
  'accent-1': #f6fbff,
  'accent-2': #c3e3ff,
  'accent-3': #90cbff,
  'accent-4': #76beff,
);

$greencko_dark: (
  'lighten-5': #e3e8ea,
  'lighten-4': #b9c5ca,
  'lighten-3': #8b9fa7,
  'lighten-2': #5d7984,
  'lighten-1': #3a5c69,
  'base': #173f4f,
  'darken-1': #143948,
  'darken-2': #11313f,
  'darken-3': #0d2936,
  'darken-4': #071b26,
  'accent-1': #63bfff,
  'accent-2': #30aaff,
  'accent-3': #0095fc,
  'accent-4': #0086e2,
);
$greencko_light: (
  'lighten-5': #fbfdfd,
  'lighten-4': #f4f9fb,
  'lighten-3': #edf5f9,
  'lighten-2': #e5f1f6,
  'lighten-1': #e0eef4,
  'base': #daebf2,
  'darken-1': #d6e9f0,
  'darken-2': #d0e5ee,
  'darken-3': #cbe2ec,
  'darken-4': #c2dde8,
  'accent-1': #fff,
  'accent-2': #fff,
  'accent-3': #fff,
  'accent-4': #fff,
);


$webiteasy_colors: (
  "webiteasy-orange": $webiteasy_orange,
  "webiteasy-red": $webiteasy_red,
  "greencko-blue": $greencko_blue,
  "webiteasy-dark": $webiteasy_dark,
  "webiteasy-light": $webiteasy_light
);

$greencko_colors: (
  "greencko-green": $greencko_green,
  "greencko-teal": $greencko_teal,
  "greencko-blue": $greencko_blue,
  "greencko-dark": $greencko_dark,
  "greencko-light": $greencko_light
);

$colors: map-merge($colors, $webiteasy_colors);
$colors: map-merge($colors, $greencko_colors);
