.btn-group-sm > .btn,
.btn-sm {
  border-radius: 0;
}

.btn-primary {
  color: #fff;
  background-color: $primary;
  border-color: darken($primary, 15%);

  &:hover {
    color: #fff;
    background-color: darken($primary, 15%);
    border-color: darken($primary, 30%);
  }
}

.btn-link {
  color:  $primary;
  &:focus,
  &:hover {
    color: darken($primary, 30%);
  }
}
