.ui {
  .avatar.image {
    border-radius: 0;
  }

  .breadcrumb {
    a {
      color: $link-color;

      &:hover,
      &:focus {
        color: $link-hover-color;
        outline: none;
      }
    }
  }

  .menu {
    border-radius: 0;
  }

  .top.attached.header {
    border-radius: 0;
  }

  &.form {
    input:not([type]),
    input[type=date],
    input[type=datetime-local],
    input[type=email],
    input[type=file],
    input[type=number],
    input[type=password],
    input[type=search],
    input[type=tel],
    input[type=text],
    input[type=time],
    input[type=url] {
      border-radius: 0;

      &:focus {
        color: rgba(0, 0, 0, 0.95);
        border-color: $input-focus-border-color;
        border-radius: 0;
        background: #fff;
        box-shadow: 0 0 0 0 rgba($input-focus-border-color, 0.35) inset;
      }
    }
  }

  &.action {
    &.input:not([class*="left action"]) {
      > .button:last-child,
      > .buttons:last-child > .button,
      > .dropdown:last-child {
        border-radius: 0;
      }

      > input:focus {
        border-right-color: $input-focus-border-color !important;
      }
    }
  }

  &.buttons {
    .button {
      &:first-child {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }

      &:last-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }

  &.basic {
    &.blue {
      &.button,
      &.buttons .button {
        box-shadow: 0 0 0 1px $link-color inset !important;
        color: $link-color !important;

        &:hover {
          box-shadow: 0 0 0 1px $link-hover-color inset !important;
          color: $link-hover-color !important;
        }

        &:focus {
          box-shadow: 0 0 0 1px $link-hover-color inset !important;
          color: $link-hover-color !important;
        }
      }
    }
  }

  &.blue {
    &.button,
    &.buttons .button {
      background-color: $link-color;

      &:hover {
        background-color: $link-hover-color;


      }

      &:focus {
        background-color: $link-hover-color;
      }
    }
  }

  &.secondary.menu .dropdown.item > .menu,
  &.text.menu .dropdown.item > .menu {
    border-radius: 0;
    margin-top: 0;
  }
}


